        <div id="footer">
            <div class="wrap">

                <div id="footer-organization" class="left">
                    <p>Copyright &copy; {{ "now"|date("Y") }} <a href="http://www.tuorganizacion.es/">Tu organización</a></p>
                </div>

                <div id="footer-sir2" class="right">
                    <a href="https://www.rediris.es/sir2">
                        <img src="/module.php/sir2skin/icons/logo-fed-sir2.png" alt="Small fish logo" />
                    </a>
                </div>

                <div id="footer-simplesamlphp" class="right">
                    <img src="/module.php/sir2skin/icons/ssplogo-fish-small.png" alt="Small fish logo" />   
                </div>

               

                <br style="clear: both" />
            </div>
        
        </div><!-- #footer -->
