{% set pagetitle =  'Test authentication sources' %}
{% extends "base.twig" %}
{% block content %}

<h1>{{pagetitle}}</h1>
<ul>

{% for key, id in sources %}

	<li><a href="?as={{id}}">{{id}}</a></li>

{% endfor %}	

</ul>

{% endblock content %}