{% extends "base.twig" %}
{% block content %}

	<p>{% trans '{core:no_metadata:config_problem}' %}</p>

	<ul>
    	<li>{% trans '{core:no_metadata:suggestion_user_link}' %}</li>
    	<li>{% trans '{core:no_metadata:suggestion_developer}' %}</li>
    </ul>

{% endblock content %}


