{% extends "base.twig" %}
{% block content %}

<h3>{% trans '{core:no_state:suggestions}' %}</h3>
<ul>
	<li>{% trans '{core:no_state:suggestion_goback}' %}</li>
	<li>{% trans '{core:no_state:suggestion_closebrowser}' %}</li>
</ul>

<h3>{% trans '{core:no_state:causes}' %}</h3>
<ul>
	<li>{% trans '{core:no_state:cause_backforward}' %}</li>
	<li>{% trans '{core:no_state:cause_openbrowser}' %}</li>
	<li>{% trans '{core:no_state:cause_nocookie}' %}</li>
</ul>

{% endblock content %}


