{% extends "base.twig" %}
{% block content %}

	<h1>{% trans '{core:short_sso_interval:warning_header}' %}</h1>

	<form style="display: inline; margin: 0px; padding: 0px" action="{{target}}">

		{% for name, value in params %}
			<input type="hidden" name="{{name}}" value="{{value}}" />
		{% endfor %}

		<p>{% trans '{core:short_sso_interval:warning}' %}</p>
	    <div class="trackidtext"><p>
	    	{% trans '{errors:report_trackid}' %}
	        <span class="trackid">{{trackId}}</span>
	        </p>
	    </div>

		<input type="submit" name="continue" id="contbutton" value="{% trans '{core:short_sso_interval:retry}' %}" />

	</form>


{% endblock content %}

